.card {
    background-color: white;
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: auto;
    border: 1px solid whitesmoke;
    box-shadow: 10px 10px 10px 10px gainsboro;
}